*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;

}


.navbar {
    background-color: #ED7D31;
    overflow: hidden;
    height: 50px;
}

.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
}
.navbar p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.container{
    padding: 3% 15% 7%;
    /* background-color: #F6F1EE; */

}
  


/* main */

.main {

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:left;
    height: 400px;
    /* background-color: #F6F1EE; */

}

.main img{
    width: 300px;
    height: 300px;
    max-width: 50%;
    height: auto;
    color: #6C5F5B;

}

.main-text {
    max-width: 50%;
    text-align: left;

    margin-left: 30px;

    color: #6C5F5B;
}

.main-text h2 {
    margin-top: 10px;
}

/* why us */

.why-us{
    background-color: #6C5F5B;
    height: 200px;
    align-items: center;
    text-align: center;
    padding: 20px 15%;
    /* display: flex; */
}

.why-us h1, h4, h3{
    margin-top: 10px;
    color: #fff;

}

/* research */

/* roadmap */
.roadmap{
    background-color: #ED7D31;
    overflow: hidden;
    height: 300px;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.roadmap img {

    height: 200px;
    width: auto;
    margin-right: 30px;
}

/* testimonials */

/* footer */