*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
a{
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    height: 25px;
    margin-top: 30px;
}

.navbar a {
    float: right;
    text-align: center;
    margin-right: 95px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    height: 100%;
    color: white;
}
.navbar p {
    margin-left: 118px;
    font-weight: bolder;
    float: left;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.navbar a:hover {
    color: #dfdfdf;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, .25);
    
}

.navbar a.active {
    color: white;
}

/* hero */

.hero {

    overflow: hidden;
    max-width: 100%;
    aspect-ratio: 2.1/1;
    height: auto;

    padding-bottom: 0;
    background-image: url('./img/hero.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}


.main-text {
    max-width: 50%;
    text-align: left;

    margin-left: 9vw;
    margin-top: 14vw;
    color: #fff;
    
}

.main-link{
    border-radius: 10px;
    height: 46px;
    width: 156px;
    margin-top: 47px;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 12px;
}

.main-link:hover{
    background-color: #dfdfdf;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
}

.main-link a{
    text-decoration: none;
}


.main-link h3 {
    margin-top: 2px;
    font-size: 18px;
    font-weight: normal;
}
.main-text h2 {
    margin-top: 6px;
    font-size: 20px;

}

.main-text h1{
    font-size: 48px;
}

/* method */

.method{
    height: 441px;
    background-color: #679394;
    display: flex;
    justify-content:center;
    padding: 65px;
}
.method-card{
    background-color: #fff;
    height: 314px;
    width: 260px;
    margin: 0px 13px;
    display: flex;

    padding: 54px 25px;
    align-items: center;
    align-content: center;
    justify-content: start;
    flex-direction: column;

    box-shadow: 4px 4px 2px rgba(0, 0, 0, .25);

}
.method-card-icon{
    width: 75px;
    height: 75px;
}
.method-card-title{
    font-size: 20px;
    margin-top: 28px;
}
.method-card-text{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}
/* roadmap */
.roadmap{
    box-shadow: inset 0 8px 4px rgba(0, 0, 0, .25), inset 0 -8px 4px rgba(0, 0, 0, .25);
    background-color: #345253;

    overflow: hidden;
    height: 1022px;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;

    padding: 0 204px
}

.roadmap-element img{
    height: 156px;
    width: auto;
    border-radius: 50%;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .25);
}
.roadmap-element-left img {
    float: left;
    margin-right: 24px;
}
.roadmap-element-right img {
    float: right;
    margin-left: 24px;
}
.roadmap-element h2{
    margin-top: 32px;
    font-size: 24px;
    color: white;
}
.roadmap-element p{
    color: white;
    font-size: 18px;
}
.roadmap-element{
    border-radius: 20px;
    height: 156px;
    width: 554px;
    display: block;
}

/* community */

.community{
    background-color: #679394;
    height: 554px;
    display: flex;
    justify-content: center;
    padding: 75px;
}

.community-image{
    width: 530px;
    height: 400px;
}

.community-card{
    width: 322px;
    height: 264px;
    background-color: white;
    padding: 23px 10px 55px 22px;
    margin-top: 67px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, .25);
}
.community-card h2{
    font-size: 24px;
}

.community-card p{
    margin-top: 12px;
    font-size: 20px;
}

/* have fun */

.have-fun{
    display: none;
}

/* footer */

.footer{
    box-shadow: inset 0 8px 4px rgba(0, 0, 0, .25);
    height: 180px;
    background-color: #345253;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {

    /* navbar */

    .navbar{
        display: flex;
        justify-content: center;
    }
    .navbar a {
        display: none;
    }
    .navbar p {
        float:none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
    /* hero */

    .hero{
        background-color: #000;
        background-image: url('./img/hero-blur.png');

        height: 812px;
        max-width: 800px;
        width: 100vw;
        aspect-ratio: none;

        background-size: auto 900px;
        background-position: 85%;
        background-clip: padding-box;
    }

    .main-text{
        max-width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 377px;
    }
    .main-text h1{
        font-size: 36px;
        
    }

    .main-link{
        width: 203px;
        height: 62px;
        border-radius: 20px;
        margin: auto;
        margin-top: 80px;
    }
    .main-link h3{
        font-size: 20px;
    }

    /* method */

    .method{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100vw;
    }

    .method-card{
        margin: 41px 0;
    }

    /* roadmap */

    .roadmap{
        height: auto;
        padding: 80px 0;
    }

    .roadmap-element{
        width: 253px;
        height: 298px;
        display: flex;
        flex-direction: column;
        margin: 0 61px;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-top: 38px;
    }
    
    .roadmap-element img{
        width: 130px;
        height: auto;
        margin: 0;
    }

    .roadmap-element h2{
        margin-top: 22px;
    }
    .roadmap-element p {
        margin-top: 16px;
    }


    /* community */

    .community{
        height: 645px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 0;
        position: relative;
    }
    
    .community-image{
        position: absolute;
        top: 127px;
        width: 310px;
        height: 233px;
    }

    .community-card{
        position: absolute;
        height: 136px;
        width: 341px;
        top: 320px;
        padding: 9px 0 16px 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
    }

    .community-card h2{
        font-size: 24px;
    }

    .community-card p{
        font-size: 16px;
        margin-top: 7px;
    }
    
    /* have fun */

    .have-fun{
        height: auto;

        box-shadow: inset 0 8px 4px rgba(0, 0, 0, .25);
        background-color: #345253;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 115px 40px 115px 40px;
        height: auto;
        border: none;

    }

    .have-fun img{
        width: 148px;
    }

    .have-fun h2{
        margin-top: 33px;
        font-size: 48px;
        color: white;
    }

    .have-fun p {
        margin-top: 33px;
        font-size: 20px;
        color: white;
        text-align: center;
    }
    /* footer */

    .footer{
        border: none;
        box-shadow: none;
        height: 117px;
    }

    .mascot{
        display: none;
    }
}


/* mascot */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.mascot {
    position: fixed;
    right: 2vw;
    /* top: 20vw; */
    bottom: -1vw;
    animation: appear 10s forwards, bounce 3s infinite alternate;
}
.mascot img {
    width: 12vw;
}

.mascot:hover::before {
    content: "Language is all input";

    display: block;
    position: absolute;
    
    bottom: 100%;
    /* left: -50%; */
    transform: translateX(-50%);
    
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 1vw;

    color: black;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}